<nav class="navbar bg-gray-800 text-white" aria-label="First navbar example">
  <div class="container mx-auto flex items-center justify-between py-3">

    <!-- Brand -->
    <a class="navbar-brand" routerLink="/login">Boxinator</a>

    <!-- Navigation Links -->
    <div class="flex space-x-4">
      <a *ngIf="handleToken()" class="nav-link active" aria-current="page" routerLink="/home">Home</a>
      <a *ngIf="handleToken()" class="nav-link active" aria-current="page" routerLink="/profile">Profile</a>
      <a *ngIf="handleToken()" class="nav-link" (click)="handleLogout()">Logout</a>
    </div>

  </div>
</nav>