<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">Creation Date</th>
            <th class="text-center">Receiver</th>
            <th class="text-center">Weight Tier</th>
            <th class="text-center">Color</th>
            <th class="text-center">Destination</th>
            <th class="text-center">Cost €</th>
            <th class="text-center">Status</th>
            <th class="text-center">Action</th> <!-- add a new column for the button -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let shipment of shipments">
            <td class="text-center">{{ shipment.createdDate | date:'yyyy-MM-dd HH:mm' }}</td>
            <td class="text-center">{{ shipment.receiver }}</td>
            <td class="text-center">{{ shipment.weight }}</td>
            <td class="text-center"><div class="rounded-circle" [style.background-color]="shipment.boxColor" style="width: 24px; height: 24px;"></div></td>
            <td class="text-center">{{ shipment.destination }}</td>
            <td class="text-center">{{ shipment.cost }}</td>
            <td class="text-center">{{ shipment.status }}</td>
            <td class="text-center">
              <button type="button" class="btn btn-danger btn-sm align-items-center"
              [disabled]="shipment.status === ShipmentStatus.CANCELLED"
              [ngClass]="{'btn-secondary': shipment.status === ShipmentStatus.CANCELLED}"
              (click)="cancelShipment(shipment.id, shipment)">
              Cancel
              </button>
            </td>          
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


