<tbody>
  <tr *ngFor="let shipment of shipments">
    <td class="border px-4 py-2">{{ shipment.createdDate | date:'yyyy-MM-dd HH:mm' }}</td>
    <td class="border px-4 py-2">{{ shipment.receiver }}</td>
    <td class="border px-4 py-2">{{ shipment.weight }}</td>
    <td class="border px-4 py-2"><div class="w-3 h-8 squared-full" [style.background-color]="shipment.boxColor"></div></td>
    <td class="border px-4 py-2">{{ shipment.destination }}</td>
    <td class="border px-4 py-2">{{ shipment.cost }}</td>
    <td class="border px-4 py-2">{{ shipment.status }}</td>
  </tr>
</tbody>