<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-list">
        <!-- <caption>Titulo da tabela</caption> -->
        <thead>
          <tr>
            <th>Creation Date</th>
            <th>Receiver</th>
            <th>Weight Tier</th>
            <th>Color</th>
            <th>Destination</th>
            <th>Cost €</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let shipment of shipments">
            <td>{{ shipment.createdDate | date:'yyyy-MM-dd HH:mm' }}</td>
            <td>{{ shipment.receiver }}</td>
            <td>{{ shipment.weight }}</td>
            <td><div class="w-8 h-8 squared-full" [style.background-color]="shipment.boxColor"></div></td>
            <td>{{ shipment.destination }}</td>
            <td>{{ shipment.cost }}</td>
            <td>{{ shipment.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

