<div class="container">
  <div class="row">
    <div class="col-12">

      <form #profileForm="ngForm" (ngSubmit)="onSubmit()" class="profileForm">
        
        <div class="row mb-3">
          <div class="col-12 col-md-6">
            <p>First Name 
              <span>{{ profile.firstName }}</span>
            </p>
          </div>
          <div class="col-12 col-md-6">
            <p>Last Name
              <span>{{ profile.lastName }}</span> 
            </p>
          </div>
          <div class="col-12">
            <p>Email
              <span>{{ firstRegistration.email }}</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group mb-4">
              <label for="dateOfBirth" class="mb-1">Date of Birth</label>
              <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" required [(ngModel)]="profile.dateOfBirth" #dob>
              <!-- <span *ngIf="dob.value" class="formatted-date">{{ dob.value | date:'dd/MM/yyyy' }}</span> -->
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group  mb-4">
              <label for="countryOfResidence" class="mb-1">Country of Residence</label>
              <mat-form-field class="form-group__country">
                <mat-select [(ngModel)]="profile.countryOfResidence" name="countryOfResidence" required>
                  <mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>          
          <div class="col-12 col-md-6">
            <div class="form-group mb-4">
              <label for="postalCode" class="mb-1">Postal Code</label>
              <input type="text" class="form-control" id="postalCode" name="postalCode" required [(ngModel)]="profile.postalCode"
              required pattern="^\d{7}$"
              title="Postal code must have 7 digits">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group mb-4">
              <label for="contactNumber" class="mb-1">Contact Number</label>
              <input type="text" class="form-control" id="contactNumber" name="contactNumber" required [(ngModel)]="profile.contactNumber"
              required pattern="^\d{9}$"
              title="Contact number must have 9 digits">
            </div>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid" (click) = "sucessNotification()">Update Profile</button>
        </div>
        
      </form>
    </div>
  </div>
</div>