<h2 mat-dialog-title>Add Shipment</h2>
<mat-dialog-content>
  <form #shipmentForm="ngForm">
    <mat-form-field>
      <mat-label>Receiver Name</mat-label>
      <input matInput type="text" name="receiver" ngModel required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tier</mat-label>
      <mat-select [(ngModel)]="selectedTier" name="tier" #tierSelect="ngModel" [required]="true" panelClass="my-dropdown">
        <mat-option *ngFor="let tier of tiers" [value]="tier">{{tier}}</mat-option>
      </mat-select>      
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Box Color</mat-label>
      <input matInput type="color" name="boxColor" ngModel required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Destination Country</mat-label>
      <input matInput type="text" name="destination" ngModel required>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="addShipment(shipmentForm.value.receiver, shipmentForm.value.weight, shipmentForm.value.boxColor, shipmentForm.value.destination)">Add Shipment</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
